
body {
  font-family: 'Roboto', sans-serif;
  margin: 20px;
  background-color: #f0d9ed; 
  color: #333;
}


.todo-item {
  background-color: #e9f7fb;
  border: 2px solid #616ad5;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 20px;
  display: flex;
 
  justify-content: space-between;
  align-items: flex-start;
}


.todo-item strong {
  font-size: 20px;
  margin-bottom: 10px;
  color: #215f74;
}

.todo-item span {
  font-size: 16px;
  color: #215f74;
  margin-bottom: 10px;
}


.todo-edit-form {
  margin-top: 10px;
  display: none; 
  flex-direction: column; 
}

.todo-edit-form input {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 14px;
}


button {
  display: block;
  background-color: #616ad5;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 14px;
  margin: 20px;
}

button:hover {
  background-color: #4b54ba;
}


.todo-item button {
  margin-right: 10px;
}


.todo-edit-form button {
  margin-right: 5px;
  padding: 6px 10px;
  font-size: 13px;
}

input[type="text"] {
  background-color: #f0f4fb;
  border: 1px solid #616ad5;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
}


#todo-input {
  padding: 10px;
  margin-bottom: 20px;
  border: 2px solid #616ad5;
  border-radius: 8px;
  width: calc(100% - 24px); 
}


h1, h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #333;
}

h1 {
  margin-bottom: 10px;
  font-size: 28px;
}

h2 {
  margin-bottom: 15px;
  font-size: 22px;
}
