body {
    font-family: Helvetica, sans-serif,;
    margin: 20px;
  }
  .todo-item {
    margin-bottom: 10px;
  }
  .todo-item button {
    margin-left: 10px;
  }

  .todo-item button {
    background-color: #616ad5;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 6px 10px;
}

.todo-item {
    background-color: #e9f7fb;
    border: 1px solid #616ad5;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.todo-item strong {
    font-size: 18px;
}

input[type="text"] {
  background-color: #e9f7fb;
  border: 1px solid #616ad5;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  background-color: #616ad5;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 6px 10px;
 

}

h1, h2, body {
    font-family: 'Roboto', sans-serif; 
    font-weight: 400;
}